#prof{
    h1{
        text-transform: capitalize;
        text-align: center;
    }
    details{
        summary{
           list-style: none;
           font-size: 1.3rem;
           text-align: center;
           text-transform: uppercase;
           cursor: pointer;
          
        }
        summary:hover{
            color: red;
        }
        #Updt-pwd{
         display: flex;
         flex-direction: column;
         align-items: center;
         label{
             margin-top: 0.2rem;
             color: blue;
         }
         input{
             border-radius: 9px;
             border: 2px solid black;
             padding: 0.2rem;
         }
         #s-rp{
             margin-top: 0.2rem;
             background-color: black;
             color: aliceblue;
             border-radius: 10px;
             border: 2px solid black;
             cursor: pointer;
         }
        }
    }
}